{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Water on Mars | {% block title %}{% endblock %}</title>
    <meta name="description" content="{% trans "Your base camp to explore the web." %}">
    <style type="text/css">
      @font-face {
          font-family: 'Ubuntu';
          font-style: normal;
          font-weight: 400;
          font-display: swap;
          src: url('{{ STATIC_URL }}bootstrap/fonts/UbuntuSans-Regular.woff2') format('woff2');
      }

      @font-face {
          font-family: 'Ubuntu';
          font-style: normal;
          font-weight: 700;
          font-display: swap;
          src: url('{{ STATIC_URL }}bootstrap/fonts/UbuntuSans-Bold.woff2') format('woff2');
      }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/fonts/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="icon" sizes="16x16" type="image/png" href="{{ STATIC_URL }}img/wom-logo-16.png">
    <link rel="icon" sizes="152x152" type="image/png" href="{{ STATIC_URL }}img/wom-logo-152.png">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/wom-logo-76.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}img/wom-logo-76.png">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ STATIC_URL }}img/wom-logo-128.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}img/wom-logo-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_URL }}img/wom-logo-152-precomposed.png">
    <link href="{{ STATIC_URL }}css/wom_base.css" rel="stylesheet">
    {% block head_after_css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" title="{% trans "Water On Mars landing zone" %} [H]" accesskey="H" id="wom-brand-name">WoM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#wom-navbar-navigation" aria-controls="wom-navbar-navigation" aria-expanded="false" aria-label="{% trans "Toggle navigation" %}">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container-fluid" id="wom-navbar-navigation">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i>
              </a>
              <ul class="dropdown-menu">
                {% if visitor_name %}
                <li><a class="dropdown-item" href="{% url 'user_profile' %}" title="{% trans "Want to check your profile ?" %} [P]" accesskey="P">{% blocktrans %}Welcome {{ visitor_name }} !{% endblocktrans %}</a></li>
                <li><a class="dropdown-item" href="{% url 'user_logout' %}" title="{% trans "Blast off !" %} [Q]" accesskey="Q">{% trans "Log out" %}</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'user_login' %}"><i class="bi bi-person"></i>{% trans "Log in" %}</a></li>
                {% endif %}
              </ul>
            </li>
            {% if visitor_name %}
            <li class="nav-item"><a class="nav-link" href="{% url 'user_river_sources' visitor_name %}" title="{% trans "Your Sources" %} [S]" accesskey="S"><i class="bi bi-book"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_river_view' visitor_name %}" title="{% trans "Your River" %} [R]" accesskey="R"><i class="bi bi-justify-left"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_river_sieve' visitor_name %}" title="{% trans "Your Sieve" %} [F]" accesskey="F"><i class="bi bi-funnel"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_collection' visitor_name %}" title="{% trans "Your Collection" %} [C]" accesskey="C"><i class="bi bi-bookmark"></i></a></li>
            {% endif %}
            <li class="nav-item dropdown" id="notifications" onclick="notificationsOpened()">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bell" id="notifications-icon"></i>
              </a>
              <ul class="dropdown-menu">
                {% block head_notification %}
                {% endblock %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="below-nav">
    {% block body_below_nav %}
    {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
  </body>
  {% block after_body %}
  {% endblock %}
</html>
