<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Water on Mars | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Your base camp to explore the web.">
    <link href="{{ STATIC_URL }}bootstrap/css/bootswatch.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootswatch_united_bootstrap.min.css" rel="stylesheet">
    <link rel="icon" sizes="16x16" type="image/png" href="{{ STATIC_URL }}img/wom-logo-16.png">
    <link rel="icon" sizes="152x152" type="image/png" href="{{ STATIC_URL }}img/wom-logo-152.png">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/wom-logo-76.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}img/wom-logo-76.png">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ STATIC_URL }}img/wom-logo-128.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}img/wom-logo-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_URL }}img/wom-logo-152-precomposed.png">
    <link href="{{ STATIC_URL }}css/wom_base.css" rel="stylesheet">
    {% block head_after_css %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand navbar-nav" role="navigation">
            <a href="{% url wom_user.views.home %}" title="Water On Mars landing zone [H]" accesskey="H" id="wom-brand-name">WoM</a>
            {% if visitor_name %}
            <a href="{% url wom_user.views.user_river_view visitor_name %}" title="Your River [R]" accesskey="R"><i class="glyphicon glyphicon-align-left"></i></a>
            <a href="{% url wom_user.views.user_river_sieve visitor_name %}" title="Your Sieve [F]" accesskey="F"><i class="glyphicon glyphicon-filter"></i></a>
            <a href="{% url wom_user.views.user_collection visitor_name %}" title="Your Collection [C]" accesskey="C"><i class="glyphicon glyphicon-bookmark"></i></a>
            <a href="{% url wom_user.views.user_river_sources visitor_name %}" title="Your Sources [S]" accesskey="S"><i class="glyphicon glyphicon-book"></i></a>
            {% endif %}
          </span>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wom-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="wom-navbar-collapse" class="collapse navbar-collapse" style="height: 0px;" >
          <ul class="nav navbar-nav navbar-left">
            {% block head_notification %}  
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if visitor_name %}
            <li><a href="{% url wom_user.views.user_profile %}" title="Want to check your profile ? [P]" accesskey="P">Welcome {{ visitor_name }} !</a></li>
            <li><a href="{% url wom_user.views.user_logout %}" title="Blast off ! [Q]" accesskey="Q">Log out.</a></li>
            {% else %}
            <li><a href="{% url django.contrib.auth.views.login %}"><i class="glyphicon glyphicon-user"></i>Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div id="below-nav">
    {% block body_below_nav %}
    {% endblock %}
    </div>
      {% block footer %}
      {% endblock %}
  </body>
  {% block after_body %}
  {% endblock %}
</html>
