{% extends "base_nojs.html" %}
{% block head_after_css %}
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ STATIC_URL }}js/wom_base.js" type="text/javascript"></script>
{% block extrahead %}
{% endblock %}
{% endblock%}

{% block body_below_nav %}
<div class="container-fluid">
  {% block content %}
  {% endblock %}
</div>
{% endblock %}

{% block after_body %}
<script>
  /*
   * Bootstrap: initialize popovers for all pages, as they are typically used for notifications.
   *
   */
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% block extrascript %}
{% endblock %}
{% endblock %}
