<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Water on Mars | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/wom-logo-16.png">
    <style>
    .navbar .nav > li > a { border-right: none; border-left: none; }
    .navbar .nav > li > a:hover { border-right: none; border-left: none; }
    a { color: #3465a4; }
    .navbar .brand { margin-left: 0px; }
    .footer { text-align: center; line-height: 60%; margin-top: 3em; }
    .footer ul li { display: inline; }
    @media (min-width: 1200px) {
      #below-nav { padding-top: 60px; }
    }
    </style>
    {% block head_after_css %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="{% url wom_user.views.home %}" accesskey="h">Water On Mars</a>
        <div class="container">
          <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <ul class="nav">
            {% if visitor_name %}
            <li><a href="{% url wom_user.views.user_river_view visitor_name %}" title="Your River" accesskey="r"><i class="icon-align-left icon-white"></i></a></li>
            <li><a href="{% url wom_user.views.user_river_sieve visitor_name %}" title="Your Sieve" accesskey="f"><i class="icon-filter icon-white"></i></a></li>
            <li><a href="{% url wom_user.views.user_collection visitor_name %}" title="Your Collection" accesskey="c"><i class="icon-bookmark icon-white"></i></a></li>
            <li><a href="{% url wom_user.views.user_river_sources visitor_name %}" title="Your Sources" accesskey="s"><i class="icon-book icon-white"></i></a></li>
            {% endif %}
          </ul>
          <div style="height: 0px;" class="nav-collapse navbar-responsive-collapse collapse">
            <ul class="nav">
            {% block nav_items %}
            {% endblock %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="below-nav">
    {% block body_below_nav %}
    {% endblock %}
    </div>
    <div class="footer">
      <div class="container">
        <p>Code licensed under <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU Affero GPL v3.0</a> and available on <a href="https://github.com/tibonihoo/wateronmars">GitHub</a>.</p>
        <p>Icons by <a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p>Built on <a href="http://getbootstrap.com">Bootstrap</a>, <a href="http://bootswatch.com/united/">United theme</a>, and <a href="http://djangoproject.com/">Django</a>. 
        <p>WaterOnMars is a project initiated by <a href="http://tibonihoo.net">Thibauld Nion</a>.</p>
      </div>
    </div>
    
  </body>
  {% block after_body %}
  {% endblock %}
</html>
