{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Add a bookmark" %}
{% endblock %}

{% block content %}
<div class="container">

  <h4>{% trans "Add a bookmark to your collection" %}</h4>

  <p class="form-text">{% trans "Enter below the information about the new resource you want to bookmark." %}</p>

  <form class="row" role="form" action="{% url 'user_collection_add' visitor_name %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
      <p>{% trans "Please check the information below." %}</p>
      {{ form.non_field_errors|safe }}
    </div>
    {% endif %}
    {% for field in form %}
    {% if field.errors %}
    <div class="row is-invalid">
    {%  else %}
    <div class="row">
    {% endif %}
      <span class="col-12 form-label">{{ field.label_tag }}</span>
      <span class="col-12">{{ field }}</span>
      <div class="invalid-feedback">{{ field.errors|safe }}</div>
    </div>
    {% endfor %}
    <div class="row">
      <span class="col-6">
        <input type="submit" value="Save this bookmark" class="btn btn-secondary" />
        <input type="hidden" name="next" value="{{ next }}" class="btn" />
      </span>
    </div>
  </form>

  <div class="row">
    {% url 'user_collection' visitor_name as collection_url %}
    <p class="form-text">{% blocktrans %}If you want to add a bookmark using the REST-ish API you should use the following parameters either in a query string for this page's URL or in a JSON payload posted at <a href="{{ collection_url }}">the collection URL</a>: <code>{{ REST_PARAMS }}</code>{% endblocktrans %}</p>
  </div>

</div>
{% endblock %}
