{% extends "base.html" %}
{% load i18n %}
{% load wom_protocol %}

{% block title %}
{% blocktrans %}Reference: {{ ref_title }}{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <h4><i class="bi bi-bookmark"></i>{{ ref_title }}</h4>
    <p>
      <a href="{{ ref_url|normalize_wom_protocol_url }}" class="btn btn-secondary btn-sm"><i class="bi bi-globe"></i>{% trans "View on site." %}</a>
      <a href="javascript:toggleEditMode();" id="edit-toggle"
         class="btn btn-secondary btn-sm"><i class="bi bi-pencil"></i>{% trans "Edit !" %}</a>
    </p>
  </div>

  <div class="row read-only" id="summary">
    {% if not ref_description and not bmk_comment %}
    <p class="text-warning">{% trans "No description ! Please consider adding a personal comment or general description in the edit form below." %}</p>
    {% else %}
    {% if ref_description %}
    <h5>{% trans "Public Description" %}</h5>
    {{ ref_description|safe }}
    {% endif %}

    {% if bmk_comment %}
    <h5>{% trans "Personal Comment" %}</h5>
    <p>{{bmk_comment}}</p>
    {% endif %}
    {% endif %}
  </div>

  <div class="row edit-only">
    <form role="form" action="" method="post">
      {% csrf_token %}
      {% if bmk_form.errors %}
      <div class="alert alert-danger">
        <p>{% trans "Please check the information below." %}</p>
        {{ bmk_form.non_field_errors|safe }}
      </div>
      {% endif %}


      <h5>{% trans "Public" %}</h5>

      <div class="row">
        <div class="alert alert-info">
          <i class="bi bi-eye"></i>{% trans "Please note that all users sharing this reference will see your edits." %}
        </div>
      </div>

      <div class="row">
        {% if ref_form.errors %}
        <div class="alert alert-danger">
          <p>{% trans "Please check the information below." %}</p>
          {{ ref_form.non_field_errors|safe }}
        </div>
        {% endif %}
        {% for field in ref_form %}
        {% if field.errors %}
        <div class="col-12 is-invalid">
        {%  else %}
        <div class="col-12">
        {% endif %}
          <span class="col-12 form-label">{{ field.label_tag }}</span>
          <span class="col-12">{{ field }}</span>
          <div class="invalid-feedback">{{ field.errors|safe }}</div>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <span class="col-12 form-label"><label><i class="bi bi-tags" title="{% trans "Tags" %}"></i>{% trans "Tags" %}</label></span>
        <span class="col-12">
          {% for tag in ref_tags %}
          {{ tag }}
          {% if not forloop.last %}
          ,
          {% endif %}
          {% endfor %}
          {% if not ref_tags %}
          &#x2205;
          {% endif %}
        </span>
      </div>

      <div class="row">
        <span class="col-12 form-label"><label>{% trans "Sources" %}</label></span>
        <span class="col-12">
          <ul class="list-unstyled">
            {% for source in ref_sources %}
            {% if source.url == "#internal-bookmark-import" %}
            <li><i class="bi bi-archive"></i>{{ source.title }}</li>
            {% else %}
            <li><i class="bi bi-book"></i><a href="{{ source.url }}" title="{% trans "View on site" %}">{{ source.title }}</a> <a href="{% url 'user_river_source_item' visitor_name source.url_safe_code %}" title="{% trans "Edit source information or subscription." %}" class="edit-only tool"><i class="bi bi-pencil"></i></a></li>
            {% endif %}
            {% endfor %}
            {% if not ref_sources %}
            <li>&#x2205;</li>
            {% endif %}
          </ul>
        </span>
      </div>

      <div class="row">
        <span class="col-6">
          <input type="submit" value="{% trans "Save changes" %}" class="btn btn-secondary" />
          <input type="hidden" name="next" value="{{ next }}" class="d-none" />
        </span>
      </div>

      <hr/>

      <div class="row">
        <h5>{% trans "Personal" %}</h5>
        {% for field in bmk_form %}
        {% if field.errors %}
        <div class="col-12 row is-invalid">
        {%  else %}
        <div class="col-12 row">
        {% endif %}
        {% if field.label == "Is public" %}
        <div class="col-12 form-check">
          <label class="form-check-label">{{ field }} {% trans "Share publicly" %}</label>
          <div class="invalid-feedback">{{ field.errors|safe }}</div>
        </div>
        {% else %}
        <span class="col-12 form-label">{{ field.label_tag }}</span>
        <span class="col-12">{{ field }}</span>
        <div class="invalid-feedback">{{ field.errors|safe }}</div>
        {% endif %}
        </div>
      </div>
      {% endfor %}

      <div class="row">
        <span class="col-6">
          <input type="submit" value="{% trans "Save changes" %}" class="btn btn-secondary" />
          <input type="hidden" name="next" value="{{ next }}" class="btn" />
        </span>
      </div>

    </form>
  </div>

</div>
{% endblock %}
