{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Add a bookmark" %}
{% endblock %}

{% block content %}

<h4>{% trans "Add a bookmark to your collection" %}</h4>

<p class="help-block">{% trans "Enter below the information about the new resource you want to bookmark." %}</p>

{% if form.errors %}
<div class="alert alert-danger">
  <p>{% trans "Please check the information below." %}</p>
  {{ form.non_field_errors|safe }}
</div>
{% endif %}
<form class="form-horizontal" role="form" action="{% url 'user_collection_add' visitor_name %}" method="post">
  {% csrf_token %}
  {% for field in form %}
  {% if field.errors %}
  <div class="form-group  has-error">
  {%  else %}
  <div class="form-group">
  {% endif %}
  <span class="col-sm-2 control-label">{{ field.label_tag }}</span>
  <span class="col-sm-10">{{ field }} {{ field.errors|safe }}</span>
  </div>
  {% endfor %}
  <div class="form-group">
    <span class="col-sm-offset-2">
      <input type="submit" value="Save this bookmark" class="btn btn-default" />
      <input type="hidden" name="next" value="{{ next }}" class="btn btn-default" />   
    </span>
  </div>
</form>

{% url 'user_collection' visitor_name as collection_url %}
<p class="help-block">{% blocktrans %}If you want to add a bookmark using the REST-ish API you should use the following parameters either in a query string for this page's URL or in a JSON payload posted at <a href="{{ collection_url }}">the collection URL</a>: <code>{{ REST_PARAMS }}</code>{% endblocktrans %}</p>

{% endblock %}

