{% extends "base.html" %}
{% load i18n %}
{% load wom_protocol %}

{% block title %}
{% trans "Collection" %}
{% endblock %}


{% block extrahead %}
<script src="{{ STATIC_URL }}/js/jquery-ias.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery.ias({
    container : '#bookmark_list',
    item: '.in_bookmark_def',
    pagination: '#pagination',
    next: '.next a',
    loader: '<img src="{{ STATIC_URL }}img/loader.gif"/>'
});
</script>
<script src="{{ STATIC_URL }}js/mousetrap.min.js"></script>
<style type="text/css">
  #bookmark_list dt { margin-bottom: 3px; }
  #bookmark_list dd { margin-top: 3px; }
  #server-sync-problem {display : none;}
  #server-save-failed  {display : none;}
  .sourceURL { color: black; text-decoration: None; }
  .sourceFeedURL { color: black; text-decoration: None; }
 </style>
{% endblock %}

{% block content %}
<h4>
  <i class="glyphicon glyphicon-bookmark"></i>
  {% if visitor_name == owner_name  %}
  {% blocktrans with num_items=user_bookmarks.paginator.count %}Your collection of {{ num_items }} bookmarks.{% endblocktrans %}
  {% else %}
  {% blocktrans with num_items=user_bookmarks.paginator.count name=owner_name %}{{ name }}'s collection of {{ num_items }} bookmarks.{% endblocktrans %}
  {% endif %}
</h4>
{% if visitor_name == owner_name  %}
<p><a href="{% url 'user_collection_add' owner_name %}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus-sign"></i>{% trans "Add a bookmark." %}</a></p>
{% endif  %}

{% if user_bookmarks %}
<dl id="bookmark_list" class="unstyled">
  {% for bookmark in user_bookmarks %}
  <dt class="in_bookmark_def"><a id="page{{user_bookmarks.number}}-bmk{{forloop.counter0}}-title" class="bookmark-title" href="{{bookmark.reference.url|normalize_wom_protocol_url}}" data-toggle="tooltip" data-html="true" title="{{ bookmark.reference.pub_date }} -- {{ bookmark.comment|striptags|truncatewords:30 }} -- {{ bookmark.reference.description|striptags|truncatewords:30 }} [ {% trans "Bookmarked since" %} {{ bookmark.saved_date }}]">{{ bookmark.reference.title }}</a> 
  </dt>
  <dd class="in_bookmark_def">
    <a href="{% url 'user_collection_item' visitor_name bookmark.reference.url_safe_code %}" class="tool"><i class="glyphicon glyphicon-zoom-in" title="{% trans "Details" %}"></i></a>
      <small><em>{% spaceless %}
          {% if bookmark.get_sources %}@
          {% for source in bookmark.get_sources %}
          <a class="sourceURL" id="page{{user_bookmarks.number}}-bmk{{forloop.parentloop.counter0}}-source{{forloop.counter0}}-URL" style="padding-right:0.5em;" href="{{ source.url|normalize_wom_protocol_url }}" title="{{ source.title }}">{{ source.title }}</a>
          {% if not forloop.last %}
          ,
          {% endif %}
          {% endfor %}
          {% endif %}
      </em></small>
      {% if bookmark.get_tag_names %}
      <i class="glyphicon glyphicon-tags" title="{% trans "Tags" %}"></i>
      {% for tag in bookmark.get_tag_names %}
      {{ tag }}
      {% if not forloop.last %}
      ,
      {% endif %}
      {% endfor %}
      {% endif %}
  {% endspaceless %}</dd>
{% endfor %}
</dl>
{% else %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4>{% trans "Your collection is empty !" %}</h4>
  {% url 'user_river_view' owner_name as river_url %}
  {% url 'user_river_sieve' owner_name as sieve_url%}
  <p>{% blocktrans %}You can add a link to your collection either by bookmarking or sharing an item found in your <a class="alert-link" href="{{ river_url }}">river of news</a> or <a class="alert-link" href="{{ sieve_url }}">sieve</a> or by sending a link with the following bookmarklet: <a class="alert-link" href="{{ collection_add_bookmarklet }}">Bookmark !</a>.{% endblocktrans %}</p>

</div>
{% endif %}

{% if user_bookmarks.paginator.num_pages > 1 %}
<div id="pagination" class="pagination">
    <ul>
    <li
        {% if user_bookmarks.has_previous %}
        class = "previous" > <a href="?page={{ user_bookmarks.previous_page_number }}">
        {% else %}
        class = "previous disabled" > <a>
        {% endif %}
        {% trans "Previous" %}
        </a>
    </li>
    
    <li class="disabled">
        <a>{% blocktrans with page_idx=user_bookmarks.number page_total=user_bookmarks.paginator.num_pages %}Page {{ page_idx }} of {{ page_total }}.{% endblocktrans %}</a>
    </li>

    <li
        {% if user_bookmarks.has_next %}
        class = "next" > <a href="?page={{ user_bookmarks.next_page_number }}">
        {% else %}
        class = "next disabled" > <a>
        {% endif %}
        {% trans "Next" %}
        </a>
    </li>
    </ul>
</div>
{% endif %}
{% endblock %}
