{% extends "base.html" %}
{% load i18n %}
{% load demo_info %}

{% block title %}
{% trans "Landing site" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h1 class="display-2 col d-flex flex-column align-items-start gap-2">{% trans "Welcome to Water On Mars !" %}</h1>
      <p class="text-body-secondary">{% trans "Where rivers (of news) have been discovered (again)." %}</p>
{% if not visitor_name %}
<div class="col flex-column gap-2">
  <a class="btn btn-primary btn-lg" href="{% url 'user_login' %}" title="{% trans "Login" %}"><i class="bi bi-person" style="margin-right: 1em"></i>{% trans "Login" %}</a>
</div>
{% endif %}

    </div>
  <div class="col">
    <div class="row row-cols-1 g-4">

{% if visitor_name %}
<div class="col flex-column gap-2">
  <a class="btn btn-primary btn-lg" href="{% url 'user_river_sources' visitor_name %}" title="{% trans "Your Sources" %}"><i class="bi bi-book" style="margin-right: 1em"></i>{% trans "Check your sources." %}</a>
</div>
<div class="col flex-column gap-2">
  <a class="btn btn-primary btn-lg" href="{% url 'user_river_view' visitor_name %}" title="{% trans "Your River" %}"><i class="bi bi-justify-left" style="margin-right: 1em"></i>{% trans "Watch your river of news." %}</a>
</div>
<div class="col flex-column gap-2">
  <a class="btn btn-primary btn-lg" href="{% url 'user_river_sieve' visitor_name %}" title="{% trans "Your Sieve" %}"><i class="bi bi-funnel" style="margin-right: 1em"></i>{% trans "Sift the best pieces out." %}</a>
</div>
<div class="col flex-column gap-2">
  <a class="btn btn-primary btn-lg" href="{% url 'user_collection' visitor_name %}" title="{% trans "Your Collection" %}"><i class="bi bi-bookmark" style="margin-right: 1em"></i>{% trans "Browse your bookmarks." %}</a>
</div>
{% else %}
<div class="col flex-column gap-2">
  {% demo_info %}
</div>
{% endif %}

    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
<div class="container">
<footer class="py-3 my-4 border-top">
  <div class="row row-cols-1 row-cols-md-2 justify-content-between align-items-center">
    <p class="col mb-3 mb-md-0 text-body-secondary">{% blocktrans %}Code licensed under <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU Affero GPL v3.0</a>, available on <a href="https://github.com/tibonihoo/wateronmars">GitHub</a>.{% endblocktrans %}</p>
    <p class="col mb-3 mb-md-0 text-body-secondary">{% blocktrans %}Icons by <a href="https://icons.getbootstrap.com/">Bootstrap Icons</a> licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.{% endblocktrans %}</p>
    <p class="col mb-3 mb-md-0 text-body-secondary">{% blocktrans %}Built on <a href="http://getbootstrap.com">Bootstrap</a>, <a href="http://bootswatch.com/united/">United theme</a>, and <a href="http://djangoproject.com/">Django</a>.{% endblocktrans %}</p>
    <p class="col mb-3 mb-md-0 text-body-secondary">{% blocktrans %}WaterOnMars is a project initiated by <a href="http://tibonihoo.net">Thibauld Nion</a>.{% endblocktrans %}</p>
  </div>
</footer>
</div>
{% endblock %}
