{% extends "base_nojs.html" %}

{% load i18n %}
{% load demo_info %}

{% block title %}
{% trans "User authentication" %}
{% endblock %}

{% block head_after_css %}
  <style>
    input[type="password"],
    input[type="text"]
    {
      height: 2em;
    }
  </style>
{% endblock %}


{% block body_below_nav %}

{% demo_info %}

<div class="container">

  <div class="row">
    <h4>{% trans "User authentication" %}</h4>
  </div>

  <form class="row" role="form" method="post" action="{% url 'user_login' %}">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
      {% trans "Your username and password didn't match. Please try again." %}
    </div>
    {% endif %}
    {% if form.password.errors %}
    <div class="row is-invalid">
    {%  else %}
    <div class="row">
    {% endif %}
      <span class="col-sm-2 col-form-label">{{ form.username.label_tag }}</span>
      <span class="col-sm-10">{{ form.username }}</span>
      <div class="invalid-feedback">{{ form.username.errors|safe }}</div>
    </div>
    {% if form.password.errors %}
    <div class="row is-invalid">
    {%  else %}
    <div class="row">
    {% endif %}
      <span class="col-sm-2  col-form-label">{{ form.password.label_tag }}</span>
      <span class="col-sm-10">{{ form.password }}</span>
      <div class="invalid-feedback">{{ form.password.errors|safe }}</div>
    </div>
    <div class="row">
      <button type="submit" class="col-2 btn btn-primary">{% trans "Login" %}</button>
      <!-- The hidden text field is adapted from Django's default login form. -->
      <input type="hidden" name="next" value="{{ next }}" class="d-none" />
    </div>
  </form>

</div>
{% endblock %}
