{% extends "base_nojs.html" %}

{% load i18n %}
{% load demo_info %}

{% block title %}
{% trans "User authentication" %}
{% endblock %}

{% block head_after_css %}
  <style>
    input[type="password"],
    input[type="text"]
    {
      height: 2em;
    }
  </style>
{% endblock %}


{% block body_below_nav %}  

{% demo_info %}

{% if form.errors %}
<div class="alert alert-danger">
  <p>{% trans "Your username and password didn't match. Please try again." %}</p>
</div>
{% endif %}
<div class="container-fluid">
  <h4>{% trans "User authentication" %}</h4>
<form role="form" class="form-horizontal" 
      method="post" action="{% url 'user_login' %}">
  {% csrf_token %}
  <div class="form-group">
    <div class="col-sm-offset-1">
      <span class="control-label">{{ form.username.label_tag }}</span>
      {{ form.username }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1">
      <span class="control-label">{{ form.password.label_tag }}</span>
      {{ form.password }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1">
      <input type="submit" value="{% trans "Login" %}" class="btn btn-default" />
      <input type="hidden" name="next" value="{{ next }}" class="btn btn-default" />
    </div>
  </div>
</form>
</div>
{% endblock %}
