{% extends "base.html" %}


{% block title %}
OPML Import
{% endblock %}

{% block content %}

<h2>Share your sources {{visitor_name}} !</h2>

<p class="lead">This page will help you import several feeds at once by uploading an <a href="http://opml.org">OPML</a> file.</p>

{% if form.errors %}
<div class="alert alert-error">
  <p>There was an error uploading your file. Please try again.</p>
  {{ form.non_field_errors|safe }}
</div>
{% endif %}
<form action="{% url wom_user.views.user_upload_opml visitor_name %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if form.opml_file.errors %}
  <div class="control-group error">
  {%  else %}
  <div class="control-group">
  {% endif %}  
    <span class="control-label">Select the OPML file to upload</span>
    <div class="controls">
      {{ form.opml_file }} {{ form.opml_file.errors|safe }}
    </div>
  </div>
  <div class="control-groups">
    <div class="controls">
    <input type="submit" value="Import these sources of news." class="btn" />
    <input type="hidden" name="next" value="{{ next }}" class="btn" />
    </div>
  </div>
</form>
{% endblock %}
