{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% if visitor_name == owner_name %}
{% trans "Your profile" %}
{% else %}
{% blocktrans %}{{ owner_name}}'s profile{% endblocktrans %}
{% endif %}
{% endblock %}

{% block extrahead %}
<style type="text/css">#wom-drop-sieve-content-failed {display : none;}</style>
<script src="{{ STATIC_URL }}js/wom_base.js"></script>
{% endblock %}

{% block head_notification %}{# Error messages #}
{% if read_only %}
<li><a id="wom-sieve-readonly-warning" data-content="{% trans "Please note that some features are disabled, like adding or removing bookmarks and feeds or dropping the sieve content." %}" title="{% trans "READ_ONLY: no change allowed" %}" data-toggle="popover" data-placement="bottom" data-container="body" href="#"><i class="glyphicon glyphicon-eye-close"></i></a></li>
{% else %}
<li><a id="wom-drop-sieve-content-failed" data-content="{% trans "The content of sieve couldn't be dropped, which may be due to a server communication problem." %}" title="{% trans "Failed to drop sieve content." %}" data-toggle="popover" data-placement="bottom" data-container="body" href="#"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
{% endif %}
{% endblock %}


{% block content %}
<h3>{% blocktrans %}Welcome {{visitor_name}} !{% endblocktrans %}</h3>

<p>{% trans "Feel free to browse through the following pages:" %}</p>


<dl class="dl-horizontal">
  {% url 'user_river_source_add' visitor_name as source_add_url %}
  {% url 'user_upload_opml' visitor_name as upload_opml_url %}
  {% url 'user_river_sources' owner_name as sources_url %}
  <dt>
      <abbr title="{% trans "Subscriptions and sites referenced by bookmarks." %}">{% trans "Sources" %}</abbr>
      &nbsp;<i class="glyphicon glyphicon-book"></i></dt>
  <dd>
    {% if visitor_name == owner_name %}
    {% blocktrans %}<a href="{{ sources_url }}" title="Look or change your current sources.">Check</a>,
    <a href="{{ source_add_url }}" title="Subscribe to a new source.">add</a>,
    <a href="{{ upload_opml_url }}" title="Add a batch of sources from a former subscription list.">import many</a> 
    or <a href="{{ sources_url }}?format=opml" title="Export your sources as OPML.">export all</a>.{% endblocktrans %}
    {% else %}
    {% blocktrans %}<a href="{{ sources_url }}" title="Look at current sources">Check</a>.{% endblocktrans %}
    {% endif %}
  </dd>
  {% url 'user_river_view' owner_name as river_view_url %}
  <dt>
    <abbr title="{% trans "A stream of fresh news with latest headlines first." %}">River</abbr>
    &nbsp;<i class="glyphicon glyphicon-align-left"></i></dt>
  <dd>
    {% blocktrans %}<a href="{{ river_view_url }}" title="Read the headlines.">Browse</a>
    and <abbr title="The river page refreshes itself regularly.">contemplate ...</abbr>{% endblocktrans %}
  </dd>
  {% url 'user_river_sieve' owner_name as sieve_url %}
  <dt>
      <abbr title="{% trans "An inbox-like view of news to make sure you don't miss anything." %}">{% trans "Sieve" %}</abbr>
      &nbsp;<i class="glyphicon glyphicon-filter"></i></dt>
  <dd>
    {% if visitor_name == owner_name %}
    {% blocktrans %}<a href="{{ sieve_url }}" title="Sift through news summaries and get a chance to bookmark them.">Read</a>
    or <a href="javascript:dropSieveContent('{{ sieve_url }}')" title="Drop all unread items.">empty your sieve</a>.{% endblocktrans %}
    {% else %}
    {% blocktrans %}<a href="{{ sieve_url }}" title="Sift through news summaries.">Use</a>.{% endblocktrans %}
    {% endif %}
  </dd>
  {% url 'user_collection_add' owner_name as collection_add_url %}
  {% url 'user_upload_nsbmk' visitor_name as upload_nsbmk_url %}
  {% url 'user_collection' owner_name as collection_url %}
  <dt>
      <abbr title="{% trans "The gems you picked up from your sieve and the web." %}">{% trans "Collection" %}</abbr>
      &nbsp;<i class="glyphicon glyphicon-bookmark"></i></dt>
  <dd>
    {% if visitor_name == owner_name %}
    {% blocktrans %}<a href="{{ collection_url }}" title="Read the list of all your bookmarks.">Scan the bookmarks</a>,
    <a href="{{ collection_add_url }}" title="Add an URL to your collection.">add one</a>,
    <a href="{{ upload_nsbmk_url }}" title="Add a batch of bookmarks at once, from your former bookmark lists.">import many</a>
    or <a href="{{ collection_url }}?format=ns-bmk-list" title="Export as Netscape's bookmarks xml file.">export all</a>.{% endblocktrans %}
    {% else %}
    {% blocktrans %}<a href="{{ collection_url }}" title="Read the list of all the bookmarks">Scan the bookmarks</a>.{% endblocktrans %}
    {% endif %}
  </dd>
</dl>


{% if visitor_name == owner_name %}
<div class="bs-docs-grid">
{% if is_superuser %}
<div class="row show-grid">
  <div class="col-md-6">
  <p><a href="{% url 'user_creation' %}" class="btn btn-default">{% trans "Create a new user" %}</a></p>
  </div>
</div>
{% endif %}
<div class="row show-grid">
<div class="col-md-6">
<h4>{% trans "Bookmarklets" %}</h4>
<p>{% blocktrans %}Another thing of the past, bookmarklets let you interact with <abbr title="wateronmars">WoM</abbr> when you're browsing the web.{% endblocktrans %}</p>
<p>{% trans "Drag'n'drop them on your browser's toolbar:" %}</p>
<p><a href="{{ collection_add_bookmarklet|safe }}" class="btn btn-primary" title="{% trans "Add current page to your bookmarks." %}">{% trans "Bookmark!" %}</a>
<a href="{{ source_add_bookmarklet|safe }}" class="btn btn-primary" title="{% trans "Follow this site through your river." %}">{% trans "Subscribe!" %}</a></p>
</div>
</div>
</div>
{% endif %}
{% endblock %}

{% block extrascript %}
<script type="text/javascript">showWarning("wom-sieve-readonly-warning");</script>
{% endblock %}
