{% extends "base.html" %}

{% block title %}
{{title_qualify}} Profile
{% endblock %}

{% block content %}
<h1>Welcome {{visitor_name}} !</h1>

<p>Feel free to browse through the following pages:</p>

<dl>
<dt><a href="{% url wom_user.views.user_river_view owner_name %}" title="{{title_qualify}} River"><i class="glyphicon glyphicon-align-left"></i>Your river</a></dt>
<dd>A streamlined view of the most recent news comming from your own selection of sources.</dd>
<dt><a href="{% url wom_user.views.user_river_sieve owner_name %}" title="{{title_qualify}} Sieve"><i class="glyphicon glyphicon-filter"></i>Your sieve</a></dt>
<dd>An inbox-like view to help you filter the news and make sure you don't miss anything.</dd>
<dt><a href="{% url wom_user.views.user_collection owner_name %}" title="{{title_qualify}} Collection"><i class="glyphicon glyphicon-bookmark"></i>Your collection</a> <small>(<a href="{% url wom_user.views.user_collection owner_name %}?format=ns-bmk-list">export as Netscape Bookmarks</a>)</small></dt>
<dd>All the links you've picked up from your river and from the web, in a word: your bookmarks :)</dd>
<dt><a href="{% url wom_user.views.user_river_sources owner_name %}" title="{{title_qualify}} Sources"><i class="glyphicon glyphicon-book"></i>Your sources</a> <small>(<a href="{% url wom_user.views.user_river_sources owner_name %}?format=opml">export as OPML</a>)</small></dt>
<dd>A list of where you take your information from: the news sources to which you've suscribed as well as the sites referenced by your bookmarks.</dd>
</dl>


{% if visitor_name == owner_name %}
<div class="bs-docs-grid">
{% if is_superuser %}
<div class="row show-grid">
  <div class="col-md-6">
  <p><a href="{% url wom_user.views.user_creation %}" class="btn btn-default">Create a new user</a></p>
  </div>
</div>
{% endif %}
<div class="row show-grid">
<div class="col-md-6">
<h2>Add bookmarks</h2>

<p>Add bookmarks when visiting a web page thanks to the following <abbr title="drag'n'drop the button below on your browser's toolbar">bookmarlet</abbr>:</p>

<p><a href="{{ collection_add_bookmarklet|safe }}" class="btn btn-lg btn-primary disabled" title="Add bookmark to WOM">Bookmark!</a></p>

<p>Import <em>several bookmarks at once</em> via the <a href="{% url wom_user.views.user_upload_nsbmk visitor_name %}">upload form</a>.</p>

<p>You can also add bookmarks via the <a href="{% url wom_user.views.user_river_sieve owner_name %}" title="Your Sieve">sieve</a></p>
</div>

<div class="col-md-6">
<h2>Subscribe to news sources</h2>

<p>Subscribe to sources when visiting a web page thanks to the following <abbr title="drag'n'drop the button below on your browser's toolbar">bookmarlet</abbr>:</p>

<p><a href="{{ source_add_bookmarklet|safe }}" class="btn btn-lg btn-primary disabled">Subscribe!</a></p>

<p>Import <em>several sources at once</em> via the <a href="{% url wom_user.views.user_upload_opml visitor_name %}"> OPML upload form</a>.</p>

</div>
</div>
</div>
{% endif %}
{% endblock %}
