{% extends "base.html" %}

{% block title %}
{{title_qualify}} Profile
{% endblock %}

{% block extrahead %}
<script src="{{ STATIC_URL }}js/wom_base.js"></script>
{% endblock %}

{% block head_notification %}{# Error messages #}
<li><a id="wom-server-sync-problem" data-content="A problem occured while synchronizing with the server, some read items may appear as unread at your next visit !" title="Server synchronization problem" data-toggle="popover" data-placement="bottom" data-container="body" href="#"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
{% endblock %}


{% block content %}
<h3>Welcome {{visitor_name}} !</h3>

<p>Feel free to browse through the following pages:</p>

<dl class="dl-horizontal">
  <dt><a href="{% url wom_user.views.user_river_view owner_name %}">
      <abbr title="A stream of fresh news comming from your selection of sources.">Your river</abbr>
      &nbsp;<i class="glyphicon glyphicon-align-left"></i></a></dt>
  <dd>Read or <em title="The river page refreshes itself regularly.">contemplate ...</em></dd>
  <dt><a href="{% url wom_user.views.user_river_sieve owner_name %}">
      <abbr title="An inbox-like view of your river to make sure you don't miss anything.">Your sieve</abbr>
      &nbsp;<i class="glyphicon glyphicon-filter"></i></a></dt>
  <dd>Read or <a href="javascript:dropSieveContent('{% url wom_user.views.user_river_sieve owner_name %}')" 
                 title="Empty your sieve by forgetting all currently unread items.">drop all unread items</a></dd>
  <dt><a href="{% url wom_user.views.user_collection owner_name %}">
      <abbr title="All the links you've picked up from your river and the web">Your collection</abbr>
      &nbsp;<i class="glyphicon glyphicon-bookmark"></i></a></dt>
  <dd>Read or <a href="{% url wom_user.views.user_collection_add owner_name %}" 
                 title="Add an URL to your collection.">add a bookmark</a>, 
    or <a href="{% url wom_user.views.user_upload_nsbmk visitor_name %}" 
          title="Add a batch of bookmarks at once, from your former bookmark lists.">import several</a>
    or <a href="{% url wom_user.views.user_collection owner_name %}?format=ns-bmk-list" 
          title="Export as Netscape's bookmarks xml file.">export all</a>.</dd>
  <dt><a href="{% url wom_user.views.user_river_sources owner_name %}" title="{{title_qualify}} Sources">
      <abbr title="The sources you're following and the sites referenced by your bookmarks.">Your sources</abbr>
      &nbsp;<i class="glyphicon glyphicon-book"></i></a></dt>
  <dd>Read or <a href="{% url wom_user.views.user_upload_opml visitor_name %}" 
                 title="Add a batch of sources from a former subscription list.">import several</a> 
    or <a href="{% url wom_user.views.user_river_sources owner_name %}?format=opml" 
          title="Export your sources as OPML">export all</a>.</dd>
</dl>


{% if visitor_name == owner_name %}
<div class="bs-docs-grid">
{% if is_superuser %}
<div class="row show-grid">
  <div class="col-md-6">
  <p><a href="{% url wom_user.views.user_creation %}" class="btn btn-default">Create a new user</a></p>
  </div>
</div>
{% endif %}
<div class="row show-grid">
<div class="col-md-6">
<h4>Bookmarklets</h4>
<p>Another thing of the past, bookmarklets let you interact with <abbr title="wateronmars">WoM</abbr> when you're browsing the web.</p>
<p>Drag'n'drop them on your browser's toolbar:</p>
<p><a href="{{ collection_add_bookmarklet|safe }}" class="btn btn-primary" title="Add current page to your bookmarks.">Bookmark!</a>
<a href="{{ source_add_bookmarklet|safe }}" class="btn btn-primary" title="Follow this site through your river.">Subscribe!</a></p>
</div>
</div>
</div>
{% endif %}
{% endblock %}
