{% extends "base.html" %}

{% block title %}
Reference: {{ ref_name }}
{% endblock %}

{% block content %}

<h4><img src="http://plus.google.com/_/favicon?domain={{ ref_url }}" style="padding-right:.5em;"/>{{ ref_name }}</h4>

<p><a href="{{ ref_url }}">View on site.</a></p>

<p class="help-block">Reference description</p>
<p class="alert alert-info"><i class="glyphicon glyphicon-eye-open"></i>Please note that all users sharing this reference will see your edits.</p>

<form class="form-horizontal" role="form" action="" method="post">
  {% csrf_token %}
  {% if ref_form.errors %}
  <div class="alert alert-danger">
    <p>Please check the information below.</p>
    {{ ref_form.non_field_errors|safe }}
  </div>
  {% endif %}
  {% for field in ref_form %}
  {% if field.errors %}
  <div class="form-group has-error">
  {%  else %}
  <div class="form-group">
  {% endif %}
    <span class="col-sm-2 control-label">{{ field.label_tag }}</span>
    <span class="col-sm-10">{{ field }} {{ field.errors|safe }}</span>
  </div>
  {% endfor %}
  <div class="form-group">
    <span class="col-sm-offset-2">
      <input type="submit" value="Save changes" class="btn btn-default" />
      <input type="hidden" name="next" value="{{ next }}" class="btn btn-default" />
    </span>
  </div>
</form>

<p class="help-block">Tags:</p>
<ul class="list-inline">
{% for tag in ref_tags %}
  <li>{{ tag }}</li>
{% endfor %}
</ul>

<p class="help-block">Sources:</p>
<ul class="list-unstyled">
{% for source in ref_sources %}
  {% if source.url == "#internal-bookmark-import" %}
  <li><i class="glyphicon glyphicon-floppy-save"></i>{{ source.title }}</li>
  {% else %}
  <li><a href="{% url wom_user.views.user_river_source_item visitor_name source.url %}">{{ source.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
{% endblock %}
