{% extends "base.html" %}


{% block title %}
{{ title_qualify }} River
{% endblock %}


{% block extrahead %}
<script src="{{ STATIC_URL }}js/jquery-ias.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery.ias({
    container : '#news_list',
    item: '.source_group',
    pagination: '#pagination',
    next: '.next a',
    loader: '<img src="{{ STATIC_URL }}img/loader.gif"/>'
});
</script>
<style type="text/css">
   .source_group { border-left: 3px solid #d3d7cf;padding-left:3px; margin-bottom:-.7em; }
   .source_group:hover { border-width: 6px; margin-left: -3px; background-color: #eeeeec; }
   .source_name a { text-decoration: none; color: #babdb6; }
   .source_name { color: #babdb6; }
   .source_group:hover .source_name a { color: #888a85 }
   .source_ref_list { padding-left: 1em; }
   .source_ref_list li { padding-bottom: 1em; }
 </style>
{% endblock %}

{% block content %}
<p><i class="icon-align-left"></i><strong>{{ title_qualify }} river</strong></p>
<div id="news_list">
{% regroup news_items by main_source.title as source_groups %}
{% for source_refs in source_groups %}
<div class="source_group" style="border-color: {% cycle '#d3d7cf' '#babdb6' %};">
    {% for rust in source_refs.list %}
    {% if forloop.first %}
    <small class="source_name"><a href="{{ rust.main_source.url }}">{{ rust.main_source.title }}</a> ({{ rust.reference_pub_date }})</small>
    <ul class="unstyled source_ref_list"> 
    {% endif %}
    <li id="page{{news_items.number}}-src{{forloop.parentloop.counter0}}-ref{{forloop.counter0}}-title" ><strong><a class="reference-title" href="{{rust.reference.url}}" data-toggle="tooltip" data-html="true" title="{{ rust.reference_pub_date }} -- {{ rust.reference.description|striptags|truncatewords:30 }}">{{ rust.reference.title }}</a></strong></li>
    {% endfor %}
  </ul>
</div>
{% empty %}
<div class="alert alert-success alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>No news so far, strange isn't it ?</p>
{% if visitor_name and owner_name == visitor_name and source_add_bookmarklet %}
  <p>You can subscribe to news sources with the following bookmarklet: <a href="{{ source_add_bookmarklet }}">Subscribe !</a></p>.
{% endif %}
</div>
{% endfor %}

{% if news_items.paginator.num_pages > 1 %}
<div  id="pagination" class="pagination">
  <ul>
  <li
    {% if news_items.has_previous %}
    class = "previous" > <a href="?page={{ news_items.previous_page_number }}">
    {% else %}
    class = "previous disabled" > <a>
    {% endif %}
    Previous
    </a>
  </li>
  
  <li class="disabled">
    <a> Page {{ news_items.number }} of {{ news_items.paginator.num_pages }}.</a>
  </li>

  <li
    {% if news_items.has_next %}
    class = "next" > <a href="?page={{ news_items.next_page_number }}">
    {% else %}
    class = "next disabled" > <a>
    {% endif %}
    Next
    </a>
  </li>
  </ul>
</div>
{% endif %}
{% endblock %}
