{% extends "base.html" %}

{% load html_sanitizers %}

{% block title %}
{{ title_qualify }} Sieve
{% endblock %}


{% block extrahead %}
<script src="{{ STATIC_URL }}js/mousetrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.touchSwipe.min.js"></script>
<script src="{{ STATIC_URL }}js/sieve_ux.js"></script>
<link href="{{ STATIC_URL }}css/wom_sieve.css" rel="stylesheet">
<script>
prepareKeyBindings();
</script>
{% endblock %}

{% block head_notification %}{# Error messages #}
<li><a id="news-loading" data-content="Fresh news are being downloaded from server." title="" data-toggle="popover" data-placement="bottom" data-container="body" href="#" data-original-title="News refresh !"><img src="{{ STATIC_URL }}/img/loader.gif" class="well-small"></img></a></li>
<li><a id="server-sync-problem" data-content="A problem occured while synchronizing with the server, some read items may appear as unread at your next visit !" title="" data-toggle="popover" data-placement="bottom" data-container="body" href="#" data-original-title="Server synchronization problem"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
<li><a id="server-save-failed" data-content="A problem occured while saving a bookmark, please retry bookmarking !" title="" data-toggle="popover" data-placement="bottom" data-container="body" href="#" data-original-title="Bookmarking failed"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
{% endblock %}

{% block content %}

{# List the references #}
<div class="col-md-2" id="title-list">
  <div id="title-list-header">
    <span id="title-list-header-name">Headlines</span>
    <a class="close" href="javascript:hideTitleList()"><span aria-hidden="true">&times;</span><span class="sr-only">Hide title list</span></button>
  </div>
  <ul class="list-unstyled">
{% for rust in oldest_unread_references %}
    <li id="ref-nav-{{forloop.counter0}}" ><small><a class="reference-title" href="#ref{{forloop.counter0}}-content" data-target="#sieve-frame" data-slide-to="{{forloop.counter0}}" title="{{ rust.reference_pub_date }}">{{ rust.reference.title }}</a></small></li>
{% endfor %}
  </ul>
</div>
<div class="carousel slide col-md-10" id="sieve-frame">
  <div class="progress" id="reading-progress" >
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    </div>
  </div>
<div class="carousel-inner">
{% for rust in oldest_unread_references %}
  <div class="reference panel panel-default item {% if rust.has_been_saved %}saved{% endif %}" id="ref{{forloop.counter0}}">
    <div class="panel-heading">
      <h4 class="panel-title">
        <small><a class="title-list-switch btn btn-default btn-xs" href="javascript:switchTitleListDisplay()" title="Switch headlines display">H</a><a id="ref{{forloop.counter0}}-title">{{ rust.reference_pub_date }}</a>  <em>@<a class="sourceURL" id="ref{{forloop.counter0}}-sourceURL" href="{{ rust.main_source.url }}" title="{{ rust.main_source.title }}">{{ rust.main_source.title }}</a></em></small>
      </h4>
    </div>
    <div id="ref{{forloop.counter0}}-content" class="panel-body carousel-fig" role="article">
      <h1>{{ rust.reference.title }}</h1>
      {{ rust.reference.description|safe|defang_html }}
    </div>
    {% spaceless %}
    <div class="reference-metadata"> 
      <a class="save-link" href="javascript:saveCurrentItem()" title="(b) Save it as a bookmark.">
        <i class="glyphicon glyphicon-hand-up"></i>Bookmark</a>
      <i title="Bookmarked !" class="bookmarked glyphicon glyphicon-bookmark"></i> 
      <a id="ref{{forloop.counter0}}-URL" title="(v) View on site: {{ rust.reference.title }}" href="{{ rust.reference.url }}">
        <i class="glyphicon glyphicon-globe"></i>visit (v)</a>
    </div>
    {% endspaceless %}
  </div>
{% empty %}
  <div class="alert alert-info alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4>No news is good news ?</h4> 
    <p>No new items were found since your last visit !</p> 
    {% if source_add_bookmarklet %}
    <p>You can subscribe to news sources with the following bookmarklet: <a class="alert-link" href="{{ source_add_bookmarklet }}">Subscribe !</a></p>.
    {% endif %}
  </div>
{% endfor %}
</div>
<a class="left carousel-control" title="Previous article (p)" href="#sieve-frame">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" title="Next article (n)" href="#sieve-frame">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>

<div class="modal fade" role="dialog" id="sieve-reload-message" aria-labelledby="sieve-reload-message-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 cloass="modal-title" id="sieve-reload-message-title">No more news in sieve !</h3>
      </div>
      <div class="modal-body">
        <p>You've emptied the sieve, press the button below to reload with more news (if any).</p>
        <p><button id="sieve-reload" class="btn btn-lg btn-primary" type="button">Reload the sieve.</button></p>
        <p><small>You can also press 'r' to reload the sieve at any time.</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascript %}
<script>
activateKeyBindings(true, "{{ user_collection_url }}", {{ num_unread_references }});
</script>

{% endblock %}
