{% extends "base.html" %}


{% block title %}
{{ title_qualify }} Sieve
{% endblock %}


{% block extrahead %}
<script src="{{ STATIC_URL }}js/mousetrap.min.js"></script>
<script src="{{ STATIC_URL }}js/sieve_ux.js"></script>
<style type="text/css">
   .read .accordion-heading {color: gray; border: none}
   .read .accordion-heading a {color: gray; border: none}
   .bookmarked {display: none;}
   .saved .save-link {display: none;}
   .saved .bookmarked {display: inline-block;}
   .collapse {
     -webkit-transition: height 0.15s ease;
        -moz-transition: height 0.15s ease;
          -o-transition: height 0.15s ease;
             transition: height 0.15s ease;
   }
   #server-sync-problem {display : none;}
   #server-save-failed  {display : none;}
   .sourceURL { color: black; decoration: None; }
   .sourceFeedURL { color: black; decoration: None; }
 </style>
<script>
prepareKeyBindings();
</script>
{% endblock %}

{% block head_notification %}  
{# Error messages #}
<li><a id="server-sync-problem" data-content="A problem occured while synchronizing with the server, some read items may appear as unread at your next visit !" title="" data-toggle="popover" data-placement="bottom" href="#" data-original-title="Server synchronization problem"><i class="icon-warning-sign icon-white"></i></a>
<a id="server-save-failed" data-content="A problem occured while saving a bookmark, please retry bookmarking !" title="" data-toggle="popover" data-placement="bottom" href="#" data-original-title="Bookmarking failed"><i class="icon-warning-sign icon-white"></i></a>
</li>
{% endblock %}

{% block content %}
<p><i class="icon-filter"></i><strong>{{ title_qualify }} sieve</strong>
  <small>Press 'n' (next) or 'p' (previous) to browse through the <span id="num_unread">{{ num_unread_references }}</span> unread items.</small>
</p>

{# List the references #}
<div class="accordion" id="sieve-accordion">
{% for rust in oldest_unread_references %}
  <div class="accordion-group reference{% if rust.has_been_saved %} saved{% endif %}" id="ref{{forloop.counter0}}">
    <div class="accordion-heading accordion-toggle reference-short-description"  style="background-color:#eeeeec;padding:3px;">
      <a id="ref{{forloop.counter0}}-title"  data-toggle="collapse" data-parent="#sieve-accordion" href="#collapse{{forloop.counter0}}">{{ rust.reference.title }}</a> <small> - {{ rust.reference_pub_date }} <em>@<a class="sourceURL" id="ref{{forloop.counter0}}-sourceURL" href="{{ rust.main_source.url }}" title="{{ rust.main_source.title }}">{{ rust.main_source.title }}</a></em></small>
    </div>
    <div id="collapse{{forloop.counter0}}" class="accordion-body collapse reference-details">
      <div class="accordion-inner">
        <div>
        {{ rust.reference.description|safe }}
        </div>
        <p style="padding-top:0.5em;"> <a class="save-link" href="javascript:saveCurrentItem()" style="padding-right:0.5em;"><i class="icon-hand-up"></i>bookmark (b)</a><i title="Bookmarked !" class="bookmarked icon-bookmark"></i> <a id="ref{{forloop.counter0}}-URL" title="{{ rust.reference.title }}" href="{{ rust.reference.url }}" style="padding-right:0.5em;"><i class="icon-globe"></i>view on site (v)</a>      
          {% for tag in rust.get_tag_names %}
          {% if forloop.first %}
          <i class="icon-tags" title="Tags"></i>
          {% endif %}          
          {{ tag }}
          {% if not forloop.last %}
          ,
          {% endif %}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="alert fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>No news is good news ?</strong> 
    <p>No new items were found since your last visit !</p> 
{% if source_add_bookmarklet %}
    <p>You can subscribe to news sources with the following bookmarklet: <a href="{{ source_add_bookmarklet }}">Subscribe !</a></p>.
{% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block extrascript %}
<script>
activateKeyBindings(true, "{{ user_collection_url }}", {{ num_unread_references }});
</script>
{% endblock %}
