{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Sources" %}
{% endblock %}

{% block extrahead %}
<script src="{{ STATIC_URL }}js/jquery-ias.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery.ias({
    container : '#sources_list',
    item: '.source_def',
    pagination: '#pagination',
    next: '.next a',
    loader: '<img src="{{ STATIC_URL }}img/loader.gif"/>'
});
</script>
{% endblock %}


{% block content %}
<h4><i class="glyphicon glyphicon-book"></i>
  {% if visitor_name == owner_name  %}
  {% blocktrans %}Your {{ num_sources }} sources{% endblocktrans %}
  {% else %}
  {% blocktrans %}{{ owner_name}}'s {{ num_sources }} sources{% endblocktrans %}
  {% endif  %}
</h4>
{% if visitor_name == owner_name  %}
<p><a href="{% url 'user_river_source_add' visitor_name %}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus-sign"></i>{% trans "Subscribe to a web feed (rss, atom etc)." %}</a></p>
<p><a href="{% url 'user_tributary_twitter' visitor_name %}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus-sign"></i>{% trans "Follow twitter." %}</a></p>
{% endif  %}

<ul class="list-unstyled">
{% if tagged_web_feeds %}
  <li><h5>{% trans "Syndicated sources" %}</h5>
    <ul class="list-unstyled">
      {% for feed in tagged_web_feeds %}
      <li><img src="http://plus.google.com/_/favicon?domain={{ feed.source.url }}" style="padding-right:.5em;"/>
          <a href="{{ feed.xmlURL}}"><img src="{{ STATIC_URL }}img/feed-icon-14x14.png" style="padding-right:.5em;"/></a>
{% if visitor_name == owner_name  %}
          <a href="{% url 'user_river_source_item' visitor_name feed.source.url_safe_code %}" class="tool"><i class="glyphicon glyphicon-zoom-in" title="{% trans "Details" %}"></i></a>
{% endif  %}
          <a href="{{ feed.source.url }}">{{ feed.source.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
{% else %}
  {% if visitor_name == owner_name and source_add_bookmarklet %}
  <p>{% trans "You can subscribe to news sources with the following bookmarklet:" %} <a href="{{ source_add_bookmarklet }}">{% trans "Subscribe !" %}</a></p>
  {% endif %}
{% endif %}

    
{% if other_sources %}
<li><h5>{% trans "Sources of bookmarks and 'generated' feeds" %}</h5>
  <ul id="sources_list" class="list-unstyled">
   {% for source in other_sources %}
   {% if source.url != "#internal-bookmark-import" %}
   <li class="source_def"><img src="http://plus.google.com/_/favicon?domain={{ source.url }}" style="padding-right:.5em;"/>
    {% if visitor_name == owner_name  %}
     <a href="{% url 'user_river_source_item' visitor_name source.url_safe_code %}" class="tool"><i class="glyphicon glyphicon-zoom-in" title="{% trans "Details" %}"></i></a>
    {% endif %}
     <a href="{{ source.url }}">{{ source.title }}</a>
    {% endif %}
   </li>
   {% endfor %}
  </li>
</ul>
{% else %}
  {% if tagged_web_feeds or generated_sources %}
  <div class="alert alert-info alert-dismissable fade in" style="margin-top:1em;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>{% trans "No source apart from the feed subscriptions." %}</p>
  </div>
  {% else %}
  <div class="alert alert-info alert-dismissable fade in" style="margin-top:1em;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>{% trans "No source yet." %}</p>   
  </div>
  {% endif %}
{% endif %}

{% if sources_list.paginator.num_pages > 1 %}
<div  id="pagination" class="pagination">
  <ul>
  <li
    {% if sources_list.has_previous %}
    class = "previous" > <a href="?page={{ sources_list.previous_page_number }}">
    {% else %}
    class = "previous disabled" > <a>
    {% endif %}
    {% trans "Previous" %}
    </a>
  </li>
  
  <li class="disabled">
    <a>{% blocktrans with page_idx=sources_list.number page_total=sources_list.paginator.num_pages %}Page {{ page_idx }} of {{ page_total }}.{% endblocktrans %}</a>
  </li>

  <li
    {% if sources_list.has_next %}
    class = "next" > <a href="?page={{ sources_list.next_page_number }}">
    {% else %}
    class = "next disabled" > <a>
    {% endif %}
    {% trans "Next" %}
    </a>
  </li>
  </ul>
</div>
{% endif %}

{% endblock %}
