{% extends "base.html" %}

{% block title %}
Source: {{ ref_title }}
{% endblock %}

{% block content %}

<h4><img src="http://plus.google.com/_/favicon?domain={{ ref_url }}" style="padding-right:.5em;"/>{{ ref_title }}</h4>

<p><a href="{{ ref_url }}"class="btn btn-default btn-sm"><i class="glyphicon glyphicon-globe"></i>View on site.</a></p>

<p class="help-block">Improve this source's description:</p>
<div class="row">
  <span class="col-sm-4 col-sm-offset-2">
    <p class="alert alert-info"><i class="glyphicon glyphicon-eye-open"></i>Please note that all users sharing this source will see your edits.</p>
  </span>
</div>
<form class="form-horizontal" role="form" action="" method="post">
  {% csrf_token %}
  {% if ref_form.errors %}
  <div class="alert alert-danger">
    <p>Please check the information below.</p>
    {{ ref_form.non_field_errors|safe }}
  </div>
  {% endif %}
  {% for field in ref_form %}
  {% if field.errors %}
  <div class="form-group has-error">
  {%  else %}
  <div class="form-group">
  {% endif %}
    <span class="col-sm-2 control-label">{{ field.label_tag }}</span>
    <span class="col-sm-10">{{ field }} {{ field.errors|safe }}</span>
  </div>
  {% endfor %}
  {% for feed_url, form in feed_forms.items %}
  {% if forloop.first %}
  <p class="help-block">Check the feeds you want to follow (uncheck others):</p>
  {% endif %}
  {% if form.errors %}
  <div class="alert alert-danger">
    <p>Please check the information below.</p>
    {{ feedForms.non_field_errors|safe }}
  </div>
  {% endif %}
  {% for field in form %}
  {% if field.errors %}
  <div class="form-group has-error">
  {%  else %}
  <div class="form-group">
  {% endif %}
    <span class="col-sm-2 control-label">
      <label><img src="{{ STATIC_URL }}img/feed-icon-14x14.png" style="padding-right:.2em"/></label><br/>
      <i class="glyphicon glyphicon-filter" style="padding-top:.4em"></i>
    </span>
  <p class="form-control-static"><a href="{{ feed_url }}">{{ feed_url }}</a></p>
    <span class="input-group">
      <div class="checkbox">
        <label> {{ field }}  Following</label>
        {{ field.errors|safe }}
      </div>
    </span>
  </div>
  {% endfor %}
  {% endfor %}
  <div class="form-group">
    <span class="col-sm-offset-2">
      <input type="submit" value="Save changes" class="btn btn-default" />
      <input type="hidden" name="next" value="{{ next }}" class="btn btn-default" />
    </span>
  </div>
</form>

{% endblock %}
