{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Tributaries" %}
{% endblock %}


{% block content %}

<h4>Tributaries</h4>

<p>{% trans "Connection to services providing their own specific forms of syndication"%}</p>

<ul class="list-unstyled">
  <li><a href="{% url 'user_tributary_twitter' visitor_name %}"
         class="btn btn-default btn-xs">Twitter</a></li>
  <li><a href="{% url 'user_tributary_mastodon' visitor_name %}"
         class="btn btn-default btn-xs">Mastodon</a></li>
</ul>

{% endblock %}
