{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Twitter tributary" %}
{% endblock %}


{% block content %}
<h4>Twitter timelines subscription summary</h4>
{% if twitter_timelines_recap %}

{% if twitter_oauth_status %}
{% if twitter_oauth_status.is_auth %}
<p>{% trans "The connection to twitter is ok" %}</p>
{% else %}
<div class="alert alert-warning">
  <p><strong>{% trans "The connection to twitter requires your authorization !"%}</strong></p>
  <p><a href="{{ twitter_oauth_status.auth_url }}">
      {% trans "Please click here to grant it." %}</a></p>
</div>
{% endif %}
{% endif %}

<ul class="list-unstyled">
  {% for timeline_info in twitter_timelines_recap %}
  <li>
    {% if timeline_info.fetchable %}
    &#x2713;
    {% else %}
    &#x2205;
    {% endif %}
    {{timeline_info.feed.title}}
  </li>
  {% endfor %}
</ul>
<p><a href="{% url 'user_tributary_twitter_add' visitor_name %}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-plus-sign"></i>{% trans "Follow another twitter timeline." %}</a></p>
{% else %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4>{% trans "You are not subscribed to any twitter timeline !" %}</h4>
  {% url 'user_tributary_twitter_add' owner_name as add_url %}
  <p><a class="alert-link" href="{{ add_url }}">{% blocktrans %}Subscribe to one now!{% endblocktrans %}</a></p>

</div>
{% endif %}
{% endblock %}
