{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "New subscription" %}
{% endblock %}

{% block content %}
<div class="container">

  <h4>{% trans "Subsribe to a Mastodon feed" %}</h4>

  <p class="form-text">{% trans "Select below what information to get from mastodon." %}</p>

  <form class="form-horizontal" role="form" action="{% url 'user_tributary_mastodon_add' visitor_name %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
      <p>{% trans "Please check the information below." %}</p>
      {{ form.non_field_errors|safe }}
    </div>
    {% endif %}
    {% for field in form %}
    {% if field.errors %}
    <div class="row is-invalid">
    {%  else %}
    <div class="row">
    {% endif %}
      <span class="col-12 form-label">{{ field.label_tag }}</span>
      <span class="col-12">{{ field }}</span>
      <div class="invalid-feedback">{{ field.errors|safe }}</div>
    </div>
    {% endfor %}
    <div class="row">
      <span class="col-6">
        <input type="submit" value="{% trans "Subscribe to this source" %}" class="btn btn-secondary" />
        <input type="hidden" name="next" value="{{ next }}" class="d-none" />
      </span>
    </div>
  </form>
</div>
{% endblock %}
