{% extends "base_nojs.html" %}


{% block title %}
User authentication
{% endblock %}

{% block head_after_css %}
  <style>
    input[type="password"],
    input[type="text"]
    {
      height: 2em;
    }
  </style>
{% endblock %}

{% block nav_items %}
<li><a href="#"><strong>New User Registration</strong></a></li>
{% endblock %}

{% block body_below_nav %}  
{% if form.errors %}
<div class="alert alert-error">
  <p>Errors were detected. Please try again to fill in the form.</p>
  {{ form.non_field_errors|safe }}
</div>
{% endif %}
<form class="form-horizontal" 
      method="post" action="{% url wom_user.views.user_creation %}">
  {% csrf_token %}  
  {% for field in form %}
  {% if field.errors %}
  <div class="control-group error">
  {%  else %}
  <div class="control-group">
  {% endif %}  
    <span class="control-label">{{ field.label_tag }}</span>
    <div class="controls">
      {{ field }} {{ field.errors|safe }}
    </div>
  </div>
  {% endfor %}
  <div class="control-groups">
    <div class="controls">
    <input type="submit" value="Register new user" class="btn" />
    </div>
  </div>
</form>
{% endblock %}
