{% extends "base_nojs.html" %}
{% load i18n %}

{% block title %}
{% trans "User authentication" %}
{% endblock %}

{% block head_after_css %}
  <style>
    input[type="password"],
    input[type="text"]
    {
      height: 2em;
    }
  </style>
{% endblock %}

{% block body_below_nav %}  
<h4>{% trans "New User Registration" %}</h4>
{% if form.errors %}
<div class="alert alert-danger">
  <p>{% trans "Errors were detected. Please try again to fill in the form." %}</p>
  {{ form.non_field_errors|safe }}
</div>
{% endif %}
<form role="form" class="form-horizontal" 
      method="post" action="{% url wom_user.views.user_creation %}">
  {% csrf_token %}  
  {% for field in form %}
  {% if field.errors %}
  <div class="form-group has-error">
  {%  else %}
  <div class="form-group">
  {% endif %}  
    <span class="control-label">{{ field.label_tag }}</span>
    {{ field }} {{ field.errors|safe }}
  </div>
  {% endfor %}
  <div class="control-groups">
    <input type="submit" value="{% trans "Register new user" %}" class="btn btn-default" />
  </div>
</form>
{% endblock %}
