language: python
python:
  - "2.6"
  - "2.7"

# command to install dependencies
install:
  - pip install -r requirements-dev.txt

# command to run tests
script:
  - coverage run manage.py test wom_classification wom_pebbles wom_river wom_user

after_success:
  - coveralls

