Django==1.4
South==0.7.5
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.13
celery==3.0.9
dj-database-url==0.2.1
django-celery==3.0.9
feedparser==5.1.2
gunicorn==0.14.6
kombu==2.4.6
psycopg2==2.4.5
python-dateutil==1.5
pytz==2012d
wsgiref==0.1.2
