Django>=3.2,<3.3
feedparser
beautifulsoup4
oauth-dropins==6.3
granary==5
tweepy
python-dateutil
six # for feedfinder2
requests # for feedfinder2 and wom_tributary
django-cryptography # for wom_tributary
mox3 # from wom_tributary -> granary -> oauth_dropins..testutil !
