/* 
WaterOnMars's sieve styling.
Author: Thibauld Nion
Licence: Affero GPLv3 (https://raw.github.com/tibonihoo/wateronmars/master/COPYING)
Site: https://github.com/tibonihoo/wateronmars
*/

.container-fluid {
  padding: 0px;
}

.alert {
  margin-bottom: 0px;
}

.panel-title {
  padding-left: 15px;
  padding-right: 15px;
}

.news-abstract h1 {
  margin-top: -.2em;
}

.read .panel-heading {color: gray; border: none}
.read .panel-heading a {color: gray; border: none}
.bookmarked {display: none;}
.saved .save-link {display: none;}
.saved .bookmarked {display: inline-block;}
.collapse {
  -webkit-transition: height 0.15s ease;
     -moz-transition: height 0.15s ease;
       -o-transition: height 0.15s ease;
          transition: height 0.15s ease;
}
#server-sync-problem {display : none;}
#server-save-failed  {display : none;}
#news-loading  { display : none;}
#news-loading  img { background-color: white; padding: 1px; margin-top: -3px; }
.sourceURL { color: black; decoration: None; }
.sourceFeedURL { color: black; decoration: None; }
.carousel-control, .carousel-control span {
  font-size: 20px;
  width: 20px;
  height: 60%;
  border: none;
  top: 20%;
  opacity: 1;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.carousel-control span {
  opacity: .5;
}

.carousel-control.left span {
    display: none;
    padding-left: 3px;
}

.carousel-control.right span {
    padding-left: 12px;
    display: none;
}


.carousel-control.right {
   left: auto;
   right: 5px;
   background-image: linear-gradient(to left, rgba(212, 68, 19,1) 0px, rgba(212, 68, 19,0) 60%);
   opacity: .5;
}

.carousel-control.left {
   left: 5px;
   right: auto;
   background-image: linear-gradient(to right, rgba(212, 68, 19,1) 0px, rgba(212, 68, 19,0) 60%);
   opacity: .5;
}


.carousel-control:hover {
  opacity: .8;
}

.carousel-control:active {
  background-color: rgb(212, 68, 19);
  opacity: 1;
}

.carousel-control:focus {
  background-color: rgb(230, 230, 230);
  opacity: 1;
}

.carousel-item-frame {
  border-radius: 0px;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.panel-group .panel, .panel-heading {
  border-radius: 0px;
  border: none;
}

.panel-group .panel-heading + .panel-collapse.carousel-fig .panel-body {
  border-top: none;
}

.carousel-fig { 
  padding-left: 20px; 
  padding-right: 20px; 
  border-top: 1px solid rgb(229, 229, 229);
}
.carousel-fig .news-abstract { overflow: auto; }
.news-metadata { margin-top: 3px; }
.carousel-item-frame {
-webkit-box-shadow: 5px 5px 5px 5px #ddd;
-moz-box-shadow: 5px 5px 5px 5px #ddd;
box-shadow: 5px 5px 5px 5px #ddd;
}

@media screen and (max-width: 699px) {
  body { padding-right: 1px; padding-left: 5px; }
  .carousel-control { font-size: 10px; width: 10px;}
  .carousel-control.right { right: 2px; }
  .carousel-control.left { left: 2px; }   
  .carousel-control.right span {
     font-size: 10px;
  }
  .carousel-control.left span {
     left: -8px;
     font-size: 10px;
  }
  .carousel-fig { padding-left: 2px; padding-right: 2px; overflow: auto; }
  .panel-body { padding: 12px; }
}
@media screen and (min-width: 700px) {
  .carousel-capt { font-size: 150%; }
  .carousel-fig .news-abstract { font-size: 150%; overflow: auto; }
}

@media screen and (max-height: 499px) {
.carousel-fig  .news-abstract { height: 350px; overflow: auto; }
}

@media screen and (min-height: 500px) and (max-height: 599px) {
.carousel-fig  .news-abstract { height: 410px; overflow: auto; }
}

@media screen and (min-height: 600px) and (max-height: 699px) {
.carousel-fig  .news-abstract { height: 470px; overflow: auto; }
}

@media screen and (min-height: 700px) and (max-height: 799px) {
.carousel-fig  .news-abstract { height: 595px; overflow: auto; }
}

@media screen and (min-height: 800px) and (max-height: 899px) {
.carousel-fig  .news-abstract { height: 670px; overflow: auto; }
}

@media screen and (min-height: 900px) and (max-height: 999px) {
.carousel-fig  .news-abstract { height: 770px; overflow: auto; }
}

@media screen and (min-height: 1000px) and (max-height: 1099px) {
.carousel-fig  .news-abstract { height: 890px; overflow: auto; }
}

@media screen and (min-height: 1100px) and (max-height: 1199px) {
.carousel-fig  .news-abstract { height: 895px; overflow: auto; }
}

@media screen and (min-height: 1200px) {
.carousel-fig  .news-abstract { height: 1150px; overflow: auto; }
}
