/* 
WaterOnMars's base styling.
Author: Thibauld Nion
Licence: Affero GPLv3 (https://raw.github.com/tibonihoo/wateronmars/master/COPYING)
Site: https://github.com/tibonihoo/wateronmars
*/


@media (max-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
      margin-right: -15px;
      margin-left: -13px;
    }
}
.navbar-nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.glyphicon {
   margin-left: 3px;
   margin-right: 3px;
}

.navbar-brand.navbar-nav a i { color: #ffffff; border-right: none; border-left: none; padding-left: 3px; font-size: 15px;}
.navbar-brand.navbar-nav a:hover i { color: #ffffff; border-right: none; border-left: none; padding-left: 3px; font-size: 15px;}
#wom-brand-name {font-weight: bold; color: #ffffff; font-size: 17px;}
a#wom-brand-name:hover {text-decoration:none;}
a { color: #3465a4; }
.footer { text-align: center; font-size: 11px; line-height: 1; margin-top: 5px; }
.footer p { margin-bottom: 3px; }
.footer ul li { display: inline; }
.jumbotron {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}


.form-control {
    height: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}
