/* 
WaterOnMars's sieve styling.
Author: Thibauld Nion
Licence: Affero GPLv3 (https://raw.github.com/tibonihoo/wateronmars/master/COPYING)
Site: https://github.com/tibonihoo/wateronmars
*/

body {
   height: auto;
   overflow: hidden;
}

#below-nav .container-fluid {
  padding: 0px;
}

.alert {
  margin-bottom: 0px;
}


.panel-heading {
 white-space: nowrap;
}

.panel-title {
  padding-left: 15px;
  padding-right: 15px;
}


.wom-reference-content h1 {
  margin-top: -.2em;
}

.wom-reference .panel-heading:first-child {
  background-color:#eeeeec;
  padding:3px;
}

.wom-metadata {
  padding-left: 2em;
  margin-top: 3px;
  padding-top:0.5em;
}

.wom-metadata a {
  margin-left: .5em;
}

.wom-reference.read .panel-heading:first-child {color: gray; border: none}
.wom-reference.read .panel-heading:first-child a {color: gray; border: none}
.wom-reference .wom-bookmarked {display: none;}
.wom-reference.saved .wom-save {display: none;}
.wom-reference.saved .wom-bookmarked {display: inline-block;}

#wom-server-sync-problem {display : none;}
#wom-server-save-failed  {display : none;}
#wom-sieve-news-loading  { display : none;}
#wom-sieve-news-loading  img { background-color: white; padding: 1px; margin-top: -3px; }
.wom-source-url { color: black; decoration: None; }

#wom-sieve-frame {
    padding:  0px;
}

#wom-sieve-frame .carousel-inner {
    padding:  0px;
}

.carousel-control, .carousel-control span {
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: none;
  opacity: 1;
  -moz-border-radius: 15px;
  border-radius: 15px;
  top: auto;
  bottom: -6px;
}


.carousel-control span {
  opacity: .5;
}

.carousel-control.left span {
    display: none;
    padding-left: 3px;
}

.carousel-control.right span {
    padding-left: 12px;
    display: none;
}


.carousel-control.right {
   left: auto;
   right: 5px;
   background-image: linear-gradient(to left, rgba(212, 68, 19,1) 0px, rgba(212, 68, 19,0) 60%);
   opacity: .5;
}

.carousel-control.left {
   left: 5px;
   right: auto;
   background-image: linear-gradient(to right, rgba(212, 68, 19,1) 0px, rgba(212, 68, 19,0) 60%);
   opacity: .5;
}


.carousel-control:hover {
  opacity: .8;
}

.carousel-control:active {
  opacity: 1;
}

.carousel-control:focus {
  background-color: rgb(230, 230, 230);
  opacity: 1;
}

.wom-reference.panel {
  border-radius: 0px;
  margin-bottom: 0px;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.panel-group .panel, .panel-heading {
  border-radius: 0px;
  border: none;
}

.panel-group .panel-heading + .panel-body {
  border-top: none;
}

.panel-body {
  padding: 0;
  padding-top: 15px;
}

.panel {
  border-bottom: 0px;
}

.wom-reference-content { 
  padding-left: 20px; 
  padding-right: 20px; 
  border-top: 1px solid rgb(229, 229, 229);
  overflow: auto;
}


.wom-reference.panel {
  -webkit-box-shadow: 5px 5px 5px 5px #ddd;
  -moz-box-shadow: 5px 5px 5px 5px #ddd;
  box-shadow: 5px 5px 5px 5px #ddd;
}

#wom-title-list { 
  padding-top: 10px; 
  padding-left: 0;
  padding-right: 0;
  overflow: scroll;
}

#wom-title-list-header-name {
  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 1px solid rgb(225, 232, 237);
  font-weight: bold;
  font-variant: small-caps;
}

#wom-title-list-header .close{
  margin-right: 3px;
}

#wom-title-list li { 
  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 1px solid rgb(225, 232, 237);
  font-weight: bold;
  font-variant: small-caps;
}

#wom-title-list li.shown a { 
  color: #BF3E11;
}

#wom-title-list li.read { 
  font-weight: normal;
  background-color: rgb(245,248,250);
}

.wom-title-list-switch {
  font-variant: small-caps;
  margin-right: 5px;
  margin-left: -10px;
}

#wom-sieve-reading-progress {
  height:3px;
  margin:0px;
}

#wom-sieve-reading-progress .progress-bar {
  height: 3px;
}

.wom-reference-content img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}


@media screen and (max-width: 699px) {
  .carousel-control.right { right: 2px; }
  .carousel-control.left { left: 2px; }   
  .carousel-control.right span {
     font-size: 10px;
  }
  .carousel-control.left span {
     left: -8px;
     font-size: 10px;
  }
  .wom-reference-content { padding-left: 2px; padding-right: 2px; padding-top: 12px; overflow: auto; }
}
@media screen and (min-width: 700px) {
  .wom-reference .panel-heading:first-child { font-size: 150%; }
  .wom-reference-content { font-size: 150%; overflow: auto; }
}

@media screen and (max-width: 400px) {
  .wom-metadata a { padding-left: 3px;}
}

