<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WOM Experiment | Lost in space</title>
  </head>
  <body>
    <h1>Welcome on the WOM Experiment !</h1>
    <p>Chances are you are lost...</p>
    <p>So, you might as well take the occasion to browse the following links:</p>
    <ul>
      <li><a href="/public/river/">a river of news</a></li>
      <li><a href="/public/sources/">its sources</a></li>
      <li><a href="http://tabs.mediahackers.org/?panel=world">THE river and somehow THE source too :)</a></li>
      <li><a href="http://tibonihoo.net">random stuff about your host...</a></li>
    </ul>
  </body>
</html>
